<div class="grid-container">
    <%- include('partials/sideMenu.ejs') %>
    <div>
        <h3>Create a New Post</h3>
    <form action="/newPost" method="post">
        <textarea name="message" rows="4" cols="40"></textarea>
        <button class="btn save btn-primary rounded-pill px-3" type="submit">Submit</button>
    </form>
    <a class="btn btn-primary rounded-pill px-3" href="/">Back to Home</a>
    </div>
</div>


