body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    font-size: 20px; /* Установи размер шрифта сразу здесь */
}

.grid-container {
    display: grid;
    grid-template-columns: 300px 1fr; /* Колонки сетки: 300px и оставшаяся часть экрана */
    height: 100vh;
    gap: 10px;
}

.content {
    grid-column: 2 / 3; /* Основное содержимое во второй колонке */
    max-width: calc(100vw - 320px); /* Ограничение ширины контента, учитывая отступы и ширину левой колонки */
    padding: 20px;
    box-sizing: border-box;
    overflow-wrap: break-word; /* Перенос длинных слов */
}

/* Для всех элементов, которым нужен фон в виде облачка */
.cloud-text {
    background-color: #2b3035; /* Серый фон */
    border-radius: 15px; /* Округлые углы */
    padding: 10px; /* Отступы вокруг текста */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    display: inline-block; /* Чтобы фон не растягивался на всю ширину контейнера */
    margin: 0px 10px 10px 0px;
}

.edit {
    font-size: 15px;
}

ul {
    list-style-type: none; /* Убирает маркеры перед элементами списка */
    padding: 0; /* Убирает отступы */
    margin: 0; /* Убирает внешние отступы */
}

h4 {
    margin-top: 5px;
}

/* Основные стили для контейнера выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* Размер троеточия */
}

.dropdown-menu2 {
    display: flex;
    flex-direction: column; /* Располагает элементы вертикально */
    align-items: flex-start; /* Выравнивание элементов по началу контейнера */
    display: none;
    position: absolute;
    background-color: #000000;
    border: 1px solid #cccccc;
    box-shadow: 1px 8px 16px rgba(0, 0, 0, 0);
    z-index: 1;
    right: 50%; /* Позиционирование меню справа от троеточия */
    top: -80%; /* Позиционирование меню сразу под троеточием */
    border-radius: 10%;
}
.dropdown-menu2 a, .dropdown-menu2 button {
    padding: 2px 4px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 85px; /* Сделает кнопки одинаковой ширины */
    text-align: center; /* Выравнивание текста по левому краю */
    margin: 2px;
    box-shadow: 2px 8px 16px rgb(0, 0, 0);
    color: white;
}

.dropdown-toggle:focus + .dropdown-menu2, .dropdown-menu2:hover {
    display: block;
}

.save {

    margin-top: 10px;

}

form {
    max-width: 500px;
    overflow-x: auto;
    margin-right: 10px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    .grid-container {

        grid-template-columns: 200px 1fr;

    }

    .content {

        max-width: calc(100vw - 220px);

    }

}

@media (max-width: 576px) {

    .grid-container {

        grid-template-columns: 150px 1fr;

    }

    .content {

        max-width: calc(100vw - 170px);

    }

    .d-flex {

        font-size: 15px;

    }

    h3 {

        font-size: 20px;

    }

}

